.hero{
    display: flex;
    background: linear-gradient(180deg, #fde1ff 40%, rgba(225, 255, 234, 0.13) 60%);
    height: 100vh;
  }
  .hero-left-section{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left:180px;
    line-height: 1.1;
  }
  .hero-left-section h2{
    color: #090909;
    font-size: 20px;
    font-weight: 600;
  }
  .hero-left-section p{
    color: #171717;
    font-size: 90px;             
    font-weight: 700;
}
.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero-hand-icon img{
    width: 105px;
}
.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
     gap: 15px;
     width: 310px;
     height: 70px;
     border-radius: 75px;
     background: #ff4141;
     color: white;
     font-size: 22px;
     font-weight: 500;
}
.hero-right-section{
    flex: 1;
}
.hero-right-section img{
  height: 90%;
}
@media(max-width:1280px){
  .hero-left-section{
    padding-left: 100px;
  }
  .hero-left-section h2{
    font-size: 22px;
  }
  .hero-left-section p{
    font-size: 60px;
  }
  .hero-hand-icon img{
    width: 80px;
  }
  .hero-latest-btn{
    gap: 10px;
    width: 250px;
    height: 60px;
    margin: 20px;
    font-size: 18px;
  }
  .hero-right-section img{
    width: 500px;
  }
}
@media(max-width:1024px){
  .hero-left-section{
    padding-left: 80px;
  }
  .hero-left-section h2{
    font-size: 22px;
  }
  .hero-left-section p{
    font-size: 57px;
  }
  .hero-hand-icon img{
    width: 60px;
  }
  .hero-latest-btn{
    width: 220px;
    height: 50px;
    font-size: 16px;
    margin: 5px;
  }
  .hero-right-section img{
    width: 400px;
  }
}
@media(max-width:800px){
  .hero-left-section{
    padding-left: 50px;
  }
  .hero-left-section h2{
    font-size: 16px;
  }
  .hero-left-section p{
    font-size: 40px;
  }
  .hero-hand-icon img{
    width: 50px;
  }
  .hero-latest-btn{
    width: 170px;
    height: 40px;
    font-size: 13px;
    margin: 2px;
  }
  .hero-right-section img{
    width: 300px;
  }
}
@media(max-width:500px){
  .hero{
    flex-direction: column;
  }
  .hero-right-section{
    display: none;
  }
  .hero-left-section h2{
    font-size: 18px;
  }
  .hero-left-section p{
    font-size: 50px;
  }
  .hero-hand-icon img{
    width: 55px;
  }
  .hero-latest-btn{
    width: 200px;
    height: 45px;
    font-size: 14px;
  }
  
}
  