.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    align-items: center;
    background: linear-gradient(180deg, #f8f5f8 0%,#c7c7c7 60%);
}
.footer-logo{
    display: flex;
    align-items: center;
    gap: 20px;

}
.footer-logo p{
    font-size: 46px;
    font-size: 700;
    color: #383838;
}
.footer-links{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 50px;
    color: #252525;
    font-family: 20px;
    list-style: none;
}
.footer-links li{
    cursor: pointer;
}
.footer-social-icons{
    display: flex;
    gap: 20px;
}
.footer-icons-container{
    padding: 10px;
    padding-bottom: 6px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;

}
.footer-copyright{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 20px;
    width: 100%;
}
.footer-copyright hr{
    margin: auto;
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
}
@media(max-width:1280px){
    .footer{
        gap: 20px;
    }
    .footer-logo{
        gap: 10px;
        align-items: end;
    }
    .footer-logo img{
        width: 40px;
    }
    .footer-logo p{
        font-size: 25px;
    }
    .footer-links{
        font-size: 14px;
        gap: 10px;
    }
    .footer-social-icons img{
        width: 22px;
    }
    .footer-copyright{
        font-size: 13px;
    }
    
}
